<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paul_nikki.cse5236.appointmentpal" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.paul_nikki.cse5236.appointmentpal.Controllers.AppController"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.CreateLoginActivity"
            android:label="@string/title_activity_create_login">
        </activity>
        <activity
            android:name=".Activities.MainScreenActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".Activities.BaseAccountActivity"
            android:label="@string/title_activity_base_account_page" >
        </activity>
        <activity
            android:name=".Activities.AppointmentsMainActivity"
            android:label="@string/title_activity_appointments_page" >
        </activity>
        <activity
            android:name=".Activities.AppointmentActivity"
            android:label="@string/title_activity_appointment_page" >
        </activity>
        <activity
            android:name=".Activities.NewAppointmentActivity"
            android:label="@string/title_activity_new_appointment" >
        </activity>
        <activity
            android:name=".Activities.LocationsMainActivity"
            android:label="@string/title_activity_locations" >
        </activity>
        <activity
            android:name=".Activities.LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name=".Activities.ConfirmAppointmentActivity"
            android:label="@string/title_activity_confirm_appointment" >
        </activity>
        <activity
            android:name=".Activities.EditAppointmentActivity"
            android:label="@string/title_activity_edit_appointment" >
        </activity>
        <activity
            android:name=".Activities.CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name=".Activities.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
    </application>

</manifest>
